/*------------------------------ CONTENTS ------------------------------*/
#contents {
	background: #fff url(../images/bg-content-bottom.png) no-repeat left bottom;
	width: 100%;
	margin-bottom: 30px;
	padding: 23px 0 0;
	-webkit-border-bottom-right-radius: 1px;
	-webkit-border-bottom-left-radius: 1px;
	-moz-border-radius-bottomright: 1px;
	-moz-border-radius-bottomleft: 1px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
}

/** Services **/
#contents #services {
	width:100%;
	min-height:800px;
    height:auto !important;
    height:800px; 
}

div.fort {
	width:97%;
	margin:0 0 10px 10px;
	display: inline-block;
}

img.fortimage {
	float: left;
	margin: 0 10px 10px 0;
	width: 290px;
}

.small_itallic {
	font-size: 10px;
	font-style:italic;
}

.hiddenblock {
	display: none;
}

#maps-canvas { height: 600px; width:960px;}

.more_button  {  
	display:inline-block;  
	background: url(../images/simple_button.png) repeat-x;  
	width: 170px;  
	padding:10px 0;  
	text-align:center;  
	font-weight:bold;
	border-radius: 5px;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	text-decoration: none;  
	color: #000;
	filter: alpha(opacity=85);
	opacity:.85;  
	border:1px solid #ccc;
	margin: 15px 10px 10px 15px;
	cursor: pointer;
	cursor: hand;
}  

.more_button:hover {  
	filter: alpha(opacity=100);
	opacity:1;  
} 

